.about{
  width:100vw;
  height:auto;
  margin:0 auto;
  display: flex;
  justify-content:space-around;
  align-items: center;
}
 

.about{
  background-color: gray;
}

.about [name="call-outline"] , .about [name="download-outline"] , .about [name="arrow-redo-outline"]{
  color:gold;
  font-size:20px;
}